html body {
   height: 100%;
   margin: 3px;
   font-family: cursive;
}

body {
   background-color: black;
   height: 100vh;
   min-height: 100vh;
}

header {
   border: solid white 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 10px;
}

.caixa {
   border: solid red 5px;
   display: inline-block;
}

.title {
   color: white;
}

main {
   border: none;
   flex: 1;
   height: 100vh;
   display: grid;
   justify-content: center;
   align-items: flex-start;
}

.titleMain {
   border: solid yellowgreen 2px;
   font-size: 20px;
   color: white;
   display: block;
}

section {
   border: solid orange 3px;
   color: white;
}

#listaSoldados {
   width: 350px;
   padding-left: 50px;
}

.botao{
   border: solid red 3px;
   font-size: 25px;
   border-radius: 10px;
   transition: 0.3s;
}

.botao:hover {
   border: solid red 1px;
   scale: 1.03;
   color: white;
   background-color: black;
}

.mais, .menos {
   font-size: 30px;
   border: solid red 1px;
   border-radius: 10px;
   transition: 0.3s;
}

.mais:hover, .menos:hover {
   color: white;
   scale: 1.03;
   background-color: black;
   border: solid red 3px;
}